<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of paises; let i=index">
            <td>{{c.alpha2Code}}</td>
            <td><img class="small-flag" src={{c.flags.png}}></td>
            <td>{{c.capital}}, {{c.name}}</td>
            <td>{{c.population | number}}</td>
            <td><a [routerLink]="['/pais', c.alpha2Code]">Ver...</a></td>
        </tr>
    </tbody>
</table>