<h2>Dinámicos</h2>
<hr>
<form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control" placeholder="Nombre persona" ngModel required name="nombre">
            <span class="form-text text-danger"
                *ngIf="miFormulario.controls['nombre'].value.length <= 1 && miFormulario.controls['nombre'].touched">Este
                campo es obligatorio*</span>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" placeholder="Agregar favorito">
                <button class="btn btn-outline-primary">Agregar</button>
            </div>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-12">
            <button type="button" (click)="guardar()" class="btn btn-primary float-end"
                [disabled]="miFormulario.invalid">Guardar</button>
        </div>
    </div>
</form>