<h2 class="animate__animated animate__bounce">Por Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar( $event )" (onDebounce)="sugerencias( $event )" placeHolder="Buscar Capital..."></app-pais-input>
    </div>
</div>

<hr>

<div *ngIf="hayError" class="alerta alert-danger">
    No se encontró nada relacionado con la busqueda {{termino}}
</div>

<div *ngIf="capital.length > 0" class="row">
    <div class="col">
        <app-capital-tabla [capital]="capital"></app-capital-tabla>
    </div>
</div>
