<h1>Editar Héroe <small>{{heroe.superhero}}</small></h1>

<div fxLayout="row" fxLayoutGap="40px">
    <div fxFlex="50" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="50px">
            <mat-form-field fxFlex="100">
                <mat-label>Super Héroe</mat-label>
                <input matInput type="text" required="true" [(ngModel)]="heroe.superhero">
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input matInput type="text" [(ngModel)]="heroe.alter_ego" required="true">
            </mat-form-field>
        </div>
        <mat-form-field fxFlex="100">
            <mat-label>Primera Aparición</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.first_appearance" required="true">
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <mat-label>Personajes</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.characters" required="true">
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <mat-label>Creador</mat-label>
            <mat-select [(ngModel)]="heroe.publisher">
                <mat-option *ngFor="let creador of creadores" [value]="creador.id">
                    {{creador.creador}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Foto URL</mat-label>
            <input matInput type="url" [(ngModel)]="heroe.alt_img" required="true">
        </mat-form-field>
        <br>
        <div fxLayout="row" fxLayoutGap="50px">
            <button mat-raised-button color="info" (click)="actualizar()">
                <mat-icon>edit</mat-icon>
                Guardar
            </button>
            <button mat-raised-button color="warn" (click)="eliminar()">
                <mat-icon>delete</mat-icon>
                Eliminar
            </button>
        </div>
    </div>
    <div fxFlex="50">
        <img [src]="heroe | imagen">
    </div>
</div>