<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <h1>Menú</h1>
            <span class="spacer"></span>
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon>
                    menu
                </mat-icon>
            </button>
        </mat-toolbar>
        <mat-list>
            <a [routerLink]="['./listado']" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Listado de Héroes</span>
            </a>
            <a [routerLink]="['./agregar']" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Agregar</span>
            </a>
            <a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <span>Buscar</span>
            </a>
        </mat-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-button (click)="sidenav.toggle()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-button (click)="logout()">
            Logout
            <mat-icon>
                logout
            </mat-icon>
        </button>
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>