/* You can add global styles to this file, and also import other style files */
html{
    background-color: var(--surface-a);
    font-family: Arial, Helvetica, sans-serif;
}

.text-layout{
    color: var(--text-color);
}

.grid{
    background-color: var(--surface-b);
}