<h2>Dinámicos</h2>
<hr>
<form [formGroup]="miFormulario" autocomplete="off" (ngSubmit)="guardar()">
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control" placeholder="Nombre persona" required formControlName="nombre" name="nombre">
            <span class="form-text text-danger" *ngIf="campoValido( 'nombre' )">Este campo es obligatorio*</span>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" placeholder="Agregar favorito" [formControl]="nuevo" name="nuevo">
                <button class="btn btn-outline-primary" (click)="agregar()">Agregar</button>
            </div>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">
            <div class="input-group" *ngFor="let fav of getFavoritos.controls; let i=index">
                <input class="form-control mb-1" [formControlName]="i">
                <button class="btn btn-outline-danger mb-1" (click)="eliminar(i)">Eliminar</button>
            </div>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary float-end">Guardar</button>
        </div>
    </div>
</form>